.flight {
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
  overflow: hidden;
}
.flight figure {
  /* border:1px solid black; */
  display: inline-block;
  width: 135px;
  height: 90px;
  margin: 0;
  padding: 0;

  float: left;
}
.flight figure img {
  width: 100%;
}
.flight--price {
  /* border: 1px solid; */
  font-size: 20px;
  letter-spacing: 0.5px;
  float: left;
  position: relative;
  left: 20px;
  top: 33px;
}
.flight--details-container {
  /* border: 1px solid blue; */
  overflow: hidden;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  position: relative;
  top: 10px;
  left: 20px;
  float: left;
}
.flight--details {
  /* border: 1px solid red; */
  display: inline-block;
  width: 166px;
}
.flight--details span {
  display: block;
}
.flight-details--flightNumber {
  margin-bottom: 5px;
}
.flight-details--fromTo {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}
.flight-details--time {
  /* border: 1px solid green; */
  width: 102px;
  overflow: hidden;
  margin-bottom: 3px;
}
.flight-details--time:last-child {
  margin-bottom: 0;
}
.flight-details--time > span {
  /* border: 1px solid orange; */
  display: inline;
}
.flight-details--time > .time {
  /* border: 1px solid blue; */
  float: right;
}
.button--search-this-flight {
  float: right;
  position: relative;
  /* left: 40px; */
  top: 29px;
  
}