.flight {
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
  overflow: hidden;
}
.flight figure {
  display: inline-block;
  width: 135px;
  height: 90px;
  margin: 0;
  padding: 0;
  float: left;
}
.flight figure img {
  width: 100%;
}
.flight--price {
  font-size: 20px;
  letter-spacing: 0.5px;
  float: left;
  position: relative;
  left: 20px;
  top: 33px;
}
.flight--details-container {
  width: 332px;
  overflow: hidden;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.5px;
  position: relative;
  top: 10px;
  left: 20px;
  float: left;
}
.flight--details {
  display: inline-block;
  width: 166px;
}
.flight--details span {
  display: block;
}
.flight-details--flightNumber {
  margin-bottom: 5px;
}
.flight-details--fromTo {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 3px;
}
.flight-details--time {
  width: 102px;
  overflow: hidden;
  margin-bottom: 3px;
}
.flight-details--time:last-child {
  margin-bottom: 0;
}
.flight-details--time > span {
  display: inline;
}
.flight-details--time > .time {
  float: right;
}
.button--search-this-flight {
  float: right;
  position: relative;
  top: 29px;
}

@media only screen and (max-width: 736px) {
  .flight {
    height: 140px
  }
  .flight figure {
    width: 100px;
    height: 66px;
  }
  .flight--details {
    width: 136px;
  }
  .flight--details-container {
    left: 0;
    width: 275px;
  }
  .flight--price {
    left: 172px;
    top: -127px;
  }
  .button--search-this-flight {
    top: -101px;
    left: -14px;
  }
}

@media only screen and (max-height: 414px) {
  .button--search-this-flight {
    width: 107px !important;
    font-size: 11px !important;
    top: -101px;
    left: 5px;
  }
}