h1 {
  text-decoration: underline;
}
#root {
  border: 1px solid;
  width: 1024px;
  height: 700px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -512px;
  overflow: hidden;
}
#root > main {
  height: 582px; 
}

@media only screen and (max-width: 736px) {
  #root {
    width: 340px;
    height: 640px;
    margin-top: -320px;
    margin-left: -170px;
  }
  #root > main {
    height: 587px;
  }
}
@media only screen and (max-height: 414px) {
  #root {
    border: 1px solid black;
    width: 600px;
    height: 320px;
    margin-top: -160px;
    margin-left: -300px;
  }
}