.button input {
  cursor: pointer;
  background: rgb(168, 168, 168);
  border: 1px solid #000000;
  border-radius: 7px;
  height: 32px;
  width: 124px;
  font-size: 12px;
  letter-spacing: 0.3px;
}
.button input:hover {
  text-decoration: underline;
}
.button .active {
  background: #dcdcdc;
}
.button .button--search-bar {
  border-bottom: 0;
  border-radius: 13px 13px 0 0;
  width: 100px;
  height: 25px;
}
.button .button--search-bar.return {
  margin-left: -4px;
}