.result-table {
  width: 746px;
  padding: 21px 10px 0 10px;
  display: inline-block;
  overflow-y: auto;
  height: 563px;
}
.result-table::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.result-table--header {
  position: relative;
  height: 30px;
  margin-bottom: 35px;
}
.result-table h2 {
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.result-table section {
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 130px;
  position: absolute;
  right: 10px;
  top: 0;
}
.result-table--summary {
  display: block;
  overflow: hidden;
  max-width: 200px;
  height: 13px;
  font-size: 11px;
  letter-spacing: 0.7px;
  margin-bottom: 3px;
}
.result-table--summary:last-child {
  margin-bottom: 0;
}
.result-table--summary > .label {
  margin-right: 5px;
}
