.result-table {
  width: 746px;
  padding: 21px 10px 0 10px;
  display: inline-block;
  overflow-y: auto;
  height: 563px;
}
.result-table::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.result-table--header {
  position: relative;
  height: 30px;
  margin-bottom: 35px;
}
.result-table h2 {
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}
.result-table section {
  display: inline-block;
  overflow: hidden;
  height: 30px;
  width: 130px;
  position: absolute;
  right: 10px;
  top: 0;
}
.result-table--summary {
  display: block;
  overflow: hidden;
  max-width: 200px;
  height: 13px;
  font-size: 11px;
  letter-spacing: 0.7px;
  margin-bottom: 3px;
}
.result-table--summary:last-child {
  margin-bottom: 0;
}
.result-table--summary > .label {
  margin-right: 5px;
}

@media only screen and (max-width: 736px) { 
  .result-table {
    /* display: none; */
    border: 1px solid;
    width: 299px;
    height: 324px;
    margin-left: 10px;
    padding: 10px 10px 0 10px;
    position: relative;
  }
  .result-table--header {
    margin-bottom: 9px;
  }
}
@media only screen and (max-height: 414px) {
  .result-table {
    top: -186px;
    left: 329px;
    width: 230px;
  }
  .result-table--header {
    height: 55px;
    text-align: center;
  }
  .result-table section {
    right: 44px;
    top: 25px;
  }
  .flight--price {
    left: 142px;
    top: -134px;
  }
}
